{% extends 'base.html' %} 
{% load blog_tags %}
{% block main %}
<article class="post post-{{ post.pk }}">
    <header>
        <h1 class="entry-title">{{ post.title }}</h1>
        <div class="entry-meta">
            <span class="post-category"><a href="{% url 'blog:category' post.category.pk %}">
                {{ post.category.name }}</a></span>
            <span class="post-date"><a href="#"><time class="entry-date"
                                                datetime="{{ post.created_time }}">{{ post.created_time }}</time></a></span>
            <span class="comments-link"><a href="#">{{ post.comment_set.count }} 评论</a></span>
            <span class="views-count"><a href="#">{{ post.views }} 阅读</a></span>
        </div>
    </header>
    <div class="entry-content clearfix">
        {{ post.body|safe }}
    </div>
</article>


<section class="comment-area" id="comment-area">
    <hr>
    <!-- UY BEGIN -->
    <div id="uyan_frame"></div>
    <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2139156"></script>
    <!-- UY END -->
</section>
{% endblock main %} 

{% block toc %}
<div class="widget widget-content">
    <h3 class="widget-title">文章目录</h3>
    {{ post.toc|safe }}
</div>
<div class="widget widget-hot-posts">
    {% get_hot_posts as hot_posts_list %}
    <h3 class="widget-title">热门文章</h3>
    <ul>
        {% for hot_post in hot_posts_list %}
        <li>
            <a href="{% url 'blog:detail' hot_post.pk %}">
                {{hot_post.title}}</a>
        </li>
        {% empty %} 
        暂无文章！ 
        {% endfor %}
    </ul>
</div>

<div class="widget widget-category">
    <h3 class="widget-title">分类</h3>
    {% get_categories as category_list %}
    <ul>
        {% for category in category_list %}
        <li>
            <a href="{% url 'blog:category' category.pk %}">
                {{ category.name }}&nbsp;
                <span class="badge">{{ category.num_post }}</span>
            </a>
        </li>
        {% empty %} 
        暂无分类！ 
        {% endfor %}
    </ul>
</div>

<div class="widget widget-tag-cloud">
    <h3 class="widget-title">标签云</h3>
    {% get_tags as tag_list %}
    <ul>
        {% for tag in tag_list %}
        <li>
            <a href="{% url 'blog:tag' tag.pk %}">
                <span class="glyphicon glyphicon-tag"></span>
                &nbsp;&nbsp;{{tag.name}}&nbsp;
                <span class="badge">{{ tag.num_post }}</span></a>
        </li>
        {% empty %}
        暂无标签！
        {% endfor %}
    </ul>
</div>
{% endblock toc %}
